:root {
	--white: #fbfaf8ff;
	--white-half-alpha: #fbfaf892;
	--white-quarter-alpha: #fbfaf843;
	--white-low-alpha: #fbfaf815;
	--dark: #060604;
	--dark-low-alpha: #0606042c;
	--accent-color: #BB377D;
	--highlight-color: #dfb669;
	--predefined-bookmark: #6856347e;
	--custom-bookmark: #0034597e;
	--add-bookmark: #4d685a7e;
	--settings: #4d685a7e;
	--primary-color: #faf7f0ff;
	--secondary-color: #e7decdff;
	--pink-gradient-webkit: -webkit-linear-gradient(to top, #BB377D, 50%, #fbd3e900);
	--pink-gradient: linear-gradient(to top, #BB377D, 50%, #fbd3e900);
	--pink-color: #BB377D;
	--light-pink-gradient-webkit: -webkit-linear-gradient(to top, #ec96c4, 50%, #fbd3e900);
	--light-pink-gradient: linear-gradient(to top, #ec96c4, 50%, #fbd3e900);
	--light-pink-color: #ec96c4;
	--earth-gradient-webkit: -webkit-linear-gradient(to top, #bb6a37, 50%, #fbd3e900);
	--earth-gradient: linear-gradient(to top, #bb6a37, 50%, #fbd3e900);
	--earth-color: #bb6a37;
	--green-gradient-webkit: -webkit-linear-gradient(to top, #79bb37, 50%, #fbd3e900);
	--green-gradient: linear-gradient(to top, #79bb37, 50%, #fbd3e900);
	--green-color: #79bb37;
	--yellow-gradient-webkit: -webkit-linear-gradient(to top, #bb9c37, 50%, #fbd3e900);
	--yellow-gradient: linear-gradient(to top, #bb9c37, 50%, #fbd3e900);
	--yellow-color: #bb9c37;
	--red-gradient-webkit: -webkit-linear-gradient(to top, #e04040, 50%, #fbd3e900);
	--red-gradient: linear-gradient(to top, #e04040, 50%, #fbd3e900);
	--red-color: #e04040;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box !important;
	caret-color: transparent;
	scroll-behavior: smooth
}

body {
	background-color: #282828;
	font-family: "Ubuntu Mono", monospace;
	font-size: 14px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 100vh;
	min-height: 100svh;
	align-items: center
}

input[type=checkbox] {
	width: 1em;
	height: 1em;
	vertical-align: middle
}

#overlay {
	position: fixed;
	display: block;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, .375);
	z-index: 0;
	cursor: auto;
	transition: .3s
}

#gradient_overlay {
	position: fixed;
	display: block;
	width: 100%;
	height: 100%;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0;
	z-index: 0;
	cursor: auto;
	transition: .3s
}

#wrap {
	max-width: 1280px;
	width: 100%;
	margin: auto;
	flex: 1;
	z-index: 2
}

.flex-main-container-vertical {
	margin: auto;
	display: flex;
	flex-direction: column;
}

#home-widget-container {
	color: var(--primary-color);
	width: 100%;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: clamp(1em, 2em, 10em);
	cursor: default;
	text-align: center
}

.home-widget {
	display: flex;
	flex-direction: column;
	min-width: 90%
}

#main-heading-slider {
	transition: .5s;
	max-width: 100%;
	display: flex;
	overflow-x: scroll;
	overflow-y: hidden;
	scroll-snap-type: x mandatory
}

#main-heading-slider * {
	min-width: 100%;
	flex: 1;
	scroll-snap-align: center;
	scroll-snap-stop: always
}

#main-heading-slider::-webkit-scrollbar {
	height: 8px;
	display: none
}

#main-heading-slider::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px grey;
	border-radius: 10px
}

#main-heading-slider::-webkit-scrollbar-thumb {
	background: var(--accent-color);
	border-radius: 10px
}

.default-text-style {
	font-family: Ubuntu;
	color: var(--primary-color);
	font-size: clamp(1em, 1.75em, 10em);
	text-shadow: 0 0 0 var(--accent-color), 0 0 0 #000 !important;
	rotate: 0deg
}

.brush-text-style-1 {
	font-family: 'Vujahday Script', handwriting;
	font-size: clamp(1em, 2em, 10em);
	color: #f5f5f5;
	text-shadow: 4px 4px 0 var(--accent-color), 6px 6px 0 #000;
	rotate: -6deg
}

.brush-text-style-2 {
	font-family: 'Nothing You Could Do', handwriting;
	font-size: clamp(1em, 1.75em, 10em);
	color: #f5f5f5;
	text-shadow: 4px 4px 0 var(--accent-color), 6px 6px 0 #000;
	rotate: -6deg
}

.brush-text-style-3 {
	font-family: 'Nanum Brush Script', handwriting;
	font-size: clamp(1em, 2.375em, 10em);
	color: #f5f5f5;
	text-shadow: 4px 4px 0 var(--accent-color), 6px 6px 0 #000;
	rotate: 0deg
}

.arrows {
	max-width: 1.5em;
	max-height: 1.5em;
	scale: 0;
	text-shadow: 1px 1px 0 #000;
	transition: 250ms
}

#subtitle {
	font-family: Ubuntu;
	font-size: .65em
}

.search {
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	/* flex-direction: column; */
	margin-top: 2em;
	margin-bottom: 2em;
	text-align: center;
	cursor: default;
}

.searchTerm {
	width: 66%;
	min-height: 3em;
	border-right: 0 solid black !important;
	padding: 0 2em 0 1em;
	border-radius: 2.5em 0 0 2.5em;
	font-size: 1em;
	outline: 0;
	/* color: var(--secondary-color); */
	margin-inline-end: 0;
	caret-color: var(--primary-color);
	/* transition: .2s */
}

/* .searchTerm::placeholder {
  color: var(--white-quarter-alpha)
} */

.searchTerm::-webkit-search-cancel-button {
	filter: grayscale() invert() brightness(200%);
	margin-inline-start: .7em;
	margin-inline-end: -1.25em;
	transition: .2s
}

.searchTerm::-webkit-search-cancel-button:hover {
	scale: 1.1
}

/* .searchTerm:focus,
.searchTerm:hover {
  background-color: var(--dark-low-alpha);
  color: var(--primary-color)
} */

.searchButton {
	width: clamp(3em, 20%, 4em);
	min-height: 3em;
	min-width: 3em;
	margin-inline-start: 0;
	border-left: 0 solid black !important;
	text-align: center;
	border-radius: 0 2.5em 2.5em 0;
	cursor: pointer;
	/* color: var(--primary-color); */
	font-size: clamp(1em, 1em, 2em)
}

.searchButton>i {
	background-size: 2;
	padding: .1em;
	background-color: transparent;
	border-radius: 2em
}

.searchButton:active>i {
	padding: .7em;
	background-color: var(--secondary-color);
	padding: .8em;
	color: var(--dark);
	transition: all .2s
}

.searchbox-style-light {
	border: .150em solid var(--primary-color);
	color: var(--dark-low-alpha);
	background: var(--primary-color);
	transition: 200ms;
	caret-color: #060604;
}

.searchbox-style-light:focus+.searchButton,
.searchbox-style-light:focus,
.searchbox-style-light:hover,
.searchbox-style-light:hover+.searchButton {
	background-color: var(--primary-color);
	color: var(--dark);
}

.searchbox-style-light::-webkit-search-cancel-button {
	filter: grayscale() invert() brightness(50%);
}

.searchbox-style-light::placeholder {
	color: var(--dark-low-alpha)
}

.searchbox-style-glass {
	border: .10em solid var(--primary-color);
	backdrop-filter: blur(.5em);
	-webkit-backdrop-filter: blur(.5em);
	color: var(--white-half-alpha);
	background: var(--white-quarter-alpha);
	transition: 200ms;

}

.searchbox-style-glass:focus+.searchButton,
.searchbox-style-glass:focus {
	background-color: var(--dark-low-alpha);
	color: var(--primary-color)
}

.searchbox-style-glass:hover+.searchButton,
.searchbox-style-glass:hover {
	color: var(--primary-color);
}

.searchbox-style-glass::placeholder {
	color: var(--white-quarter-alpha)
}

.autocomplete {
	display: flex;
	justify-content: center;
	width: 100%;
	gap: 0;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	transition: 300ms;
}

.suggestions-box {
	display: flex;
	width: calc(66% + 4em);
	height: 10em;
	overflow: hidden;
	gap: 2em;
	display: none;
	border-radius: 0 0 2.5em 2.5em;
	background-color: var(--primary-color);
	transition: 200ms;
}

/* .searchTerm:focus,
.searchTerm:focus+.suggestions-box {
  border-radius: 2.5em 0 0 0;
  display: block;
}

.searchTerm:focus+.searchButton {
  border-radius: 0 2.5em 0 0;
} */

.autocomplete-items {
	max-width: 300px;
	border: 1px solid #d4d4d4;
	border-bottom: none;
	border-top: none;
	z-index: 99;
	/*position the autocomplete items to be the same width as the container:*/
	top: 100%;
	left: 0;
	right: 0;
	transition: 300ms;
}

.autocomplete-items div {
	padding: 10px;
	cursor: pointer;
	background-color: #fff;
	border-bottom: 1px solid #d4d4d4;
}

.autocomplete-items div:hover {
	/*when hovering an item:*/
	background-color: #e9e9e9;
}

.autocomplete-active {
	/*when navigating through the items using the arrow keys:*/
	background-color: DodgerBlue !important;
	color: #ffffff;
}

.flex-sub-container-horizontal {
	display: flex;
	flex-wrap: wrap;
	padding: .5em;
	justify-content: center;
	align-items: center;
	margin-bottom: 1em;
	/* transition: .2s */
}

.flex-sub-container-horizontal>div {
	color: var(--primary-color);
	width: clamp(1em, 4em, 8em);
	height: clamp(1em, 4em, 8em);
	margin: 2%;
	display: flex;
	flex-direction: row;
	border-radius: 50%;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	cursor: pointer;
	caret-color: transparent;
	border: .075em solid var(--primary-color);
	/* transition: .2s */
}

.predefined-bookmark {
	background-color: var(--predefined-bookmark);
	-webkit-backdrop-filter: blur(1em);
	backdrop-filter: blur(1em)
}

.flex-sub-container-horizontal>div>i {
	font-size: clamp(.5em, 2em, 4em)
}

#add_bookmark_button:focus,
#add_bookmark_button:hover,
#settings_button:focus,
#settings_button:hover,
.flex-sub-container-horizontal>:focus,
.flex-sub-container-horizontal>:hover {
	background-color: var(--highlight-color);
	transition: .5s
}

.flex-wallpaper-horizontal {
	max-height: 10em;
	flex-wrap: nowrap;
	overflow-x: auto;
	width: 100%;
	display: none;
	flex-direction: row;
	justify-content: start;
	position: fixed;
	bottom: 0;
	padding: 0 0 .75em 0;
	z-index: 2
}

.thumb-group {
	width: 8em;
	height: 4.8em;
	margin: .5em;
	border-radius: 1em;
	cursor: pointer
}

.advanced-settings-button {
	position: sticky;
	min-width: 9em;
	left: 0;
	margin: 0 0 1em 0;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 0 1.5em 1.5em 0;
	backdrop-filter: blur(2em);
	-webkit-backdrop-filter: blur(2em);
	background-color: rgba(255, 255, 255, 0.85);
	cursor: pointer;
	z-index: 3;
	scale: 1.125;
}

.advanced-settings-button>i {
	font-size: 4em;
	color: #060604;
	opacity: 0.8;
}

.thumb-group:focus,
.thumb-group:hover {
	box-shadow: 0 0 .5em #fff;
	animation: animation_zoom .25s;
	animation-fill-mode: both;
	animation-iteration-count: 1;
	transition: 1s;
}

.thumb-title {
	position: absolute;
	border-radius: 0 0 1em 1em;
	border: 0 solid var(--primary-color);
	border-top: none;
	width: 8em;
	height: 1.5em;
	margin-top: 4em;
	/* padding-top: .3em;
  margin-top: 3.15em;
  margin-left: .05em;
  padding-left: .75em;
  padding-right: .25em;
  padding-bottom: .3em; */
	z-index: 2;
	opacity: 0;
	font-family: "Ubuntu";
	padding-top: 0.075em;
	font-size: 0.875em;
	padding-inline-start: 0.75em;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	color: var(--dark-text-color);
	background-color: rgba(250, 235, 215, .8);
	pointer-events: none
}

.animate:focus>.thumb-title,
.animate:hover>.thumb-title {
	animation: animation_appear .25s;
	animation-fill-mode: both;
	animation-iteration-count: 1
}

.thumbnail {
	position: relative;
	width: 7.05em;
	height: 4.8em;
	border: .1em solid var(--primary-color);
	margin-left: -.04em;
	border-radius: .9em
}

#add_bookmark_button {
	background-color: var(--add-bookmark);
	-webkit-backdrop-filter: blur(1em);
	backdrop-filter: blur(1em);
	order: 1336
}

#add_bookmark_button:not(:active)>i {
	transition: 750ms;
	rotate: 360deg
}

#settings_button {
	color: var(--primary-color);
	width: clamp(1em, 4em, 8em);
	height: clamp(1em, 4em, 8em);
	margin: 2%;
	display: flex;
	flex-direction: row;
	border-radius: 50%;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	-webkit-backdrop-filter: blur(1em);
	backdrop-filter: blur(1em);
	background-color: var(--settings);
	cursor: pointer;
	caret-color: transparent;
	order: 1337;
	border: .075em solid var(--primary-color)
}

#settings_button * {
	margin: 0;
	padding: 0;
	font-size: 2em
}

#settings_button:not(:active)>i {
	transition: 750ms;
	rotate: 360deg
}

.custom_bookmark {
	color: var(--primary-color);
	width: clamp(1em, 4em, 8em);
	height: clamp(1em, 4em, 8em);
	margin: 2%;
	display: flex;
	flex-direction: row;
	border-radius: 50%;
	justify-content: center;
	align-items: center;
	-webkit-backdrop-filter: blur(1em);
	backdrop-filter: blur(1em);
	cursor: pointer;
	caret-color: transparent;
	background-color: var(--custom-bookmark);
	border: .075em solid var(--primary-color);
	text-decoration: none
}

.custom_bookmark>span {
	font-weight: bolder;
	font-size: 1.5em;
	pointer-events: none
}

.removable {
	border: .1em solid tomato;
	transition: .3s
}

.cross {
	position: fixed;
	margin-top: 2.4em;
	margin-left: 2.8em;
	transition: 150ms;
	text-align: center;
	line-height: 1.2em;
	padding-inline-start: .02em;
	width: 1.25em;
	height: 1.25em;
	background-color: tomato;
	border-radius: 50%;
	display: none
}

.labs {
	position: absolute;
	padding-bottom: .5em;
	padding-inline: .375em;
	border-radius: .5em;
	background-color: rgba(95, 158, 160, .4);
	backdrop-filter: blur(.3em);
	-webkit-backdrop-filter: blur(.3em);
	display: none;
	text-align: center;
	z-index: 3;
	border: 1px solid #d3d3d3
}

#mydivheader {
	padding: 0;
	cursor: move;
	z-index: 4;
	background-color: transparent;
	color: #fff
}

.button {
	padding-inline: 1em;
	padding-block: .5em;
	font-size: .5em;
	margin-top: 1em
}

#import-bookmarks-btn {
	display: none
}

#advanced-settings-modal-background-overlay {
	position: fixed;
	top: 0;
	width: 100vw;
	height: 100vh;
	background-color: #45454576;
	backdrop-filter: blur(3em);
	-webkit-backdrop-filter: blur(3em);
	z-index: 2;
	animation-name: animatetop;
	animation-duration: .25s;
	display: none
}

#advanced-settings-modal {
	background-color: rgba(56, 56, 56, 0);
	position: absolute;
	height: auto;
	width: 100vw;
	width: 100dvw;
	z-index: 2;
	color: var(--white);
	font-family: Ubuntu;
	/* backdrop-filter: blur(1em);
	-webkit-backdrop-filter: blur(1em); */
	cursor: default;
	animation-name: animatetop;
	animation-duration: .25s;
	display: none
}

@keyframes animatetop {
	from {
		opacity: 0
	}

	to {
		opacity: 1
	}
}

#btn-install {
	display: none;
}

.modal-page-title {
	display: flex;
	gap: 1em;
	margin: .5em;
	padding: .5em;
	font-size: 1.4em;
	align-items: center;
	justify-content: space-between;
	font-weight: 700;
	/* backdrop-filter: blur(2em);
	-webkit-backdrop-filter: blur(2em); */
	background-color: var(--dark-low-alpha);
	border-radius: .5em
}

.modal-close-btn {
	font-size: 1.4em
}

.modal-group {
	display: flex;
	flex-direction: column;
	margin: .75em;
	padding: .5em;
	background-color: var(--dark-low-alpha);
	/* backdrop-filter: blur(2em);
	-webkit-backdrop-filter: blur(2em); */
	border-radius: .75em;
	/* transition: 300ms; */
}

.modal-title {
	display: flex;
	flex-direction: column;
	font-size: 1.15em;
	font-weight: 700;
	padding: .25em
}

.modal-option {
	display: flex;
	font-size: .9em;
	padding: .25em;
	font-weight: 400;
	justify-content: space-between;
	transition: 250ms;
	border-radius: .375em;
	padding-inline: .5em
}


.modal-option:hover {
	background-color: var(--white-quarter-alpha)
}

.setting-preview {
	background-color: #06060400;
	border: 0 solid #000;
	width: 10em;
	max-height: 1;
	border-radius: 6px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	text-align: end;
	font-size: .9em;
	font-family: Ubuntu;
	color: var(--white-half-alpha);
	animation-name: animatetop;
	animation-duration: 1s
}

.version-preview {
	width: auto;
	max-height: 1;
	border-radius: 6px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	text-align: center;
	font-size: .6em;
	font-family: Ubuntu;
	color: var(--white-half-alpha);
	animation-name: animatetop;
	animation-duration: 1s
}

.setting-preview option {
	color: #060604;
	text-align: end;
	background-color: var(--dark-low-alpha)
}

.footer {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	display: flex;
	width: 100%;
	flex-direction: column;
	align-items: center;
	z-index: 1;
	gap: .25em;
	padding: .5em
}

.footer * {
	display: flex;
	color: rgba(255, 255, 255, .5);
	gap: 1em;
	font-size: .85em;
	line-height: 1.5em;
	list-style: none;
	transition: 150ms;
	text-decoration: none
}

.footer :focus,
.footer :hover {
	color: rgba(255, 255, 255, 1)
}

.ext_favicon {
	width: 32px;
	height: 32px;
	border-radius: 50%
}

.loader {
	border: .2em solid var(--primary-color) !important;
	border-top: .2em solid #1e90ff !important;
	border-radius: 50%;
	animation: spin 1s normal infinite
}

.nested-close {
	opacity: 0;
	height: 0em !important;
}

#deep-search-nested {
	overflow: hidden;
	height: auto;
	height: 6.1em;
	transition: 600ms;
}

@keyframes spin {
	0% {
		transform: rotate(0)
	}

	100% {
		transform: rotate(360deg)
	}
}

.loader * {
	animation: spin-rev 1s normal infinite
}

.collapsed {
	height: 0;
	padding: 0;
	margin: 0;
	overflow: hidden
}

.hidden {
	display: none
}

@keyframes spin-rev {
	0% {
		transform: rotate(360deg)
	}

	100% {
		transform: rotate(0)
	}
}

@media only screen and (min-width:370px) {
	body {
		font-size: 18px
	}
}

@media only screen and (min-width:600px) {
	body {
		font-size: 22px
	}

	.footer {
		flex-direction: row;
		justify-content: space-between;
		padding-inline: 2em
	}
}

@media only screen and (min-width:1024px) {
	body {
		font-size: 24px
	}

	#advanced-settings-modal {
		background-color: rgba(56, 56, 56, 0);
		position: absolute;
		height: auto;
		width: 50vw;
		width: 50dvw;
		top: 0
	}
}