body {
  margin: 0;
  padding: 0;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-color: rgb(40, 40, 40);
  font-family: "Ubuntu Mono", monospace;
}

#overlay {
  position: fixed; /* Sit on top of the page content */
  display: block; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
  z-index: 0; /* Specify a stack order in case you're using a different order for other elements */
  cursor: auto; /* Add a pointer on hover */
}

#wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 0px;
  padding-bottom: 200px;
  scale: 1;
}

@media screen and (max-width: 1080px) {
  .flex-sub-container-horizontal {
    width: 50% !important;
    margin-top: 32px;
  }

  .search {
    width: 66%;
  }

  .flex-wallpaper-horizontal {
    padding-bottom: 2%;
    padding-top: 2%;
  }
}

.flex-main-container-vertical {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.flex-main-container-vertical > div {
  z-index: 1;
}

#heading {
  color: antiquewhite;
  font-size: 4rem;
  margin-bottom: -60px;
}

.search {
  max-width: fit-content;
  height: 46px;
  display: flex;
  justify-content: center;
}

.searchTerm {
  width: 960px;
  max-width: 60%;
  border: 3px solid rgba(250, 235, 215, 1);
  border-right: none;
  padding: 20px 40px 20px 20px;
  height: 100%;
  border-radius: 50px 0px 0px 50px;
  outline: none;
  font-size: 1rem;
  color: #9dbfaf;
  backdrop-filter: blur(50px);
  background-color: rgba(95, 158, 160, 0.1);
}

.searchTerm:focus {
  color: rgba(250, 235, 215, 0.7);
}

.searchButton {
  width: 50px;
  height: 100%;
  visibility: visible;
  margin-left: 0px;
  border: 2px solid rgba(250, 235, 215, 1);
  background: rgba(250, 235, 215, 1);
  text-align: center;
  border-radius: 0px 50px 50px 0px;
  cursor: pointer;
  font-size: 20px;
}

.flex-sub-container-horizontal {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
  width: 100%;
}

.flex-sub-container-horizontal > div {
  color: antiquewhite;
  width: 6rem;
  height: 6rem;
  margin: 2%;
  display: flex;
  flex-direction: row;
  border-radius: 50%;
  font-size: 5rem;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(24px);
  background-color: rgba(95, 158, 160, 0.4);
}

.flex-sub-container-horizontal > div > i {
  font-size: 2.5rem;
}

.flex-sub-container-horizontal > div:hover {
  animation: animation_fade-in 0.5s;
  animation-fill-mode: both;
  animation-iteration-count: 1;
}

.flex-wallpaper-horizontal {
  display: flex;
  overflow-x: scroll;
  width: 100%;
  height: fit-content;
  opacity: 0;
  flex-direction: horizontal;
  justify-content: start;
  position: fixed;
  bottom: 0%;
  scale: 1;
  background-color: rgba(127, 255, 212, 0.221);
  backdrop-filter: blur(24px);
}

.thumb-group {
  width: 160px;
  height: 90px;
  margin: 24px;
  border: 2px solid #ffffff;
  border-radius: 20px;
}

.thumb-group:hover {
  box-shadow: 0px 0px 10px #fff;
  animation: animation_zoom 0.25s;
  animation-fill-mode: both;
  animation-iteration-count: 1;
}
.thumb-group:hover > .thumb-title {
  animation: animation_appear 0.25s;
  animation-fill-mode: both;
  animation-iteration-count: 1;
  opacity: 1;
}

.thumbnail {
  position: relative;
  border-radius: 18px;
}

.thumb-title {
  position: absolute;
  border-radius: 0 0 18px 18px;
  border: 0px solid #fff;
  border-top: none;
  padding-top: 4px;
  margin-top: 66px;
  margin-left: 0px;
  padding-left: 12px;
  padding-bottom: 4px;
  z-index: 2;
  width: 148px;
  opacity: 0;
  backdrop-filter: blur(24px);
  background-color: rgba(255, 255, 255, 0.5);
  pointer-events: none;
}
